<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enlinkmob.ucenterapi.dao.OauthAccessTokenMapper">
    <insert id="addOauthAccessToken"></insert>
    <delete id="deleteOauthAccessToken"></delete>
    <delete id="deleteOauthAccessTokenByRefreshToken"></delete>
    <select id="getByAuthenticationId" resultType="com.enlinkmob.ucenterapi.model.OauthAccessToken"></select>
    <select id="getOauthAccessToken" resultType="com.enlinkmob.ucenterapi.model.OauthAccessToken"></select>
    <select id="getOauthAccessTokens" resultType="com.enlinkmob.ucenterapi.model.OauthAccessToken"></select>
    <select id="getOauthAccessTokenByUsername" resultType="com.enlinkmob.ucenterapi.model.OauthAccessToken"></select>
    <select id="findTokensByClientIdAndUserName" resultType="com.enlinkmob.ucenterapi.model.OauthAccessToken"></select>
</mapper>